/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
    text-decoration:none;
}

.flex-v{
    display:flex;
    align-items:center;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
h1,h2{
    //color:$primary;
}

h1,h2,h3,h4{
    font-family:"Roboto Condensed";
    font-weight:700;
    //text-transform:uppercase;
}

.headline-xl{
    font-size:90px;
    line-height:95px;
    letter-spacing:-3px;
}
.headline-lg{
    font-size:50px;
    line-height:55px;
    letter-spacing:-2px;
}
.headline-md{
    font-size:40px;
    line-height:45px;
    letter-spacing:-1px;
}
.headline-sm{
    font-size:30px;
    line-height:35px;
    letter-spacing:-0.5px;
}
.headline-xs{
    font-size:30px;
    line-height:35px;
    letter-spacing:-0.5px;
}

.text-white{
    color:$vanilla;
}
.a-center{
    text-align:center;
}

.headline-divider{
    position:relative;
    padding:60px 0;
    text-align:center;
    h2{
        position:relative;
        display:inline-block;
        z-index:4;
        padding:0 20px;
        background:white;
        //color:$red;
        text-align:left;
    }
    span{
        position:absolute;
        z-index:0;
        top:50%;
        left:50%;
        margin-left:0;
        display:block;
        content:"";
        width:0;
        height:1px;
        background:#ddd;
        @include transition(all 0.8s 0.5s $easeOutExpo);
        &.show{
            width:100%;
            margin-left:-50%;
        }
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
	-webkit-font-smoothing:antialiased;
    font-family:"Roboto", sans-serif;
    background:$vanilla;
    color:$primary;
    min-width:1280px;
}
#main{
	width:100%;
    background:$vanilla;
    @include transition(opacity 0.8s $easeOutExpo);
    &.sleep{
        @include opacity(0.5);
    }
}
.container{
	position:relative;
	width:100%;
	max-width:960px;
	margin:0 auto;
}
.row{
	
}
.col-1-2{
	width:50%;
	float:left;
    @media(max-width:700px){
        width:100%;
    }
}
.col-1-3{
	width:33.33333%;
	float:left;
    @media(max-width:700px){
        width:100%;
    }
}
.col-1-4{
	width:25%;
	float:left;
}
header{
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    padding:0 30px;
    //text-align:center;
    .container{
        position:relative;
        max-width:1600px;
    }
    .logo{
        margin-top:25px;
    }
}

.menu-btn{
    position:fixed;
    top:0px;
    right:0px;
    width:90px;
    height:90px;
    font-size:11px;
    line-height:11px;
    text-transform:uppercase;
    font-weight:600;
    color:$vanilla;
    background:$primary;
    @include transition(all 1.2s $easeOutExpo);
    &.active{
        //color:$primary;
        //background:$vanilla;
        .burger{
            span{
                //background:$primary;
            }
        }
    }
    span{
        position:relative;
        z-index:4;
    }
    .burger{
        position:relative;
        z-index:4;
        width:24px;
        height:18px;
        //margin-left:15px;
        span{
            display:block;
            width:24px;
            height:2px;
            background:$vanilla;
            margin-bottom:6px;
            @include transition(all 1.2s $easeOutExpo);
            &:last-child{
                margin-bottom:0;
            }
        }
    }
}
#menu{
    display:none;
    z-index:888;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,1);
    overflow:hidden;
    &.active{
        display:flex;
    }
    .logo-menu{
        position:absolute;
        z-index:999;
        top:25px;
        left:30px;
    }
    nav{
        width:560px;
        font-family:"Roboto Condensed";
        li{
            position:relative;
            display:inline-block;
            font-size:70px;
            line-height:1;
            font-weight:700;
            letter-spacing:-3px;
            margin:5px 0;
            @include opacity(0);
            @include transform(translateY(90px));
            @include transition(all 0.8s $easeOutExpo);
            cursor:pointer;
            &.show{
                @include opacity(1);
                @include transform(translateY(0));
            }
            &:after{
                display:inline-block;
                content:"";
                position:absolute;
                left:50%;
                top:50%;
                margin-left:0;
                margin-top:2px;
                height:3px;
                width:0;
                background:$red;
                @include opacity(0);
                @include transition(all 0.8s $easeOutExpo);
            }
            &:hover, &.active{
                &:after{
                    width:110%;
                    margin-left:-55%;
                    @include opacity(1);
                }
            }
        }
    }
}

.logo-blue{
    display:none;
    position:fixed;
    z-index:222;
    top:25px;
    left:30px;
}



footer{


}




#home-loader{
    position:fixed;
    z-index:888;
    top:0;left:0;
    width:100%;
    height:100%;
    background:$primary;
    h2{
        font-size:130px;
        line-height:130px;
        letter-spacing:-5px;
        //text-align:center;
        color:$vanilla;
        perspective:800px;
    }
    strong{
        display:inline-block;
        -webkit-transform-style: preserve-3d;
        will-change: transform;
        @include opacity(0);
        @include transform(translateZ(200px) rotate3d(-1, -1, 0, 60deg));
        &:first-child{
            @include transition(transform 1.5s  0.2s$easeIn, opacity 0.8s 0.2s $easeOutExpo);
        }
        &:last-child{
            @include transition(transform 1.5s 0.4s $easeIn, opacity 0.8s 0.4s $easeOutExpo);
        }
        &.active{
            @include opacity(1);
            @include transform(translateZ(0) rotate3d(-1, -1, 0, 0deg));
        }
    }
}

.progress {
    transform: rotate(-90deg);
}

.progress__value {
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
}
.slider-progress{
    animation: progress 8s forwards;
}

@keyframes progress {
    from {
        stroke-dashoffset: 339.292;
    }
    to {
        stroke-dashoffset: 0;
    }
}



.link-hero{
    display:inline-block;
    padding:12px 20px;
    border-radius:4px;
    background:rgba(255,255,255,0.15);
    color:$vanilla;
    font-size:12px;
    text-transform:uppercase;
    font-weight:600;
    margin-top:30px;
}



.scroll-clue{
    position:absolute;
    top:10px;
    width:100%;
    font-size:10px;
    font-weight:600;
    text-transform:uppercase;
    color:white;
    text-align:center;
    img{
        margin-top:0px;
        width:24px;
    }
}

#hero{
    position:relative;
    z-index:222;
    width:100%;
    height:100vh;
    min-height:480px;
    will-change:height;
    @include transition(height 1.2s 0.2s $easeOutExpo);
    background:$primary;
    &.loaded{
        height:calc(100vh - 80px);
    }
    overflow:hidden;
    .hero-copy{
        position:relative;
        z-index:2;
    }
    p{
        color:$vanilla;
        margin-top:20px;
        font-size:18px;
        line-height:28px;
    }
    video{
        display:block;
        position:absolute;
        z-index:0;
        top:0;left:0;
        width:100%;
        @include opacity(0);
        filter: saturate(60%);
        -webkit-backface-visibility: none;
        @include transition(opacity 2s 1s $easeOutExpo);
        &.active{
            @include opacity(0.1);
        }
    }
}


.mobile-devices{
    width:100%;
    height:100%;
    -webkit-transform-style: preserve-3d;
    will-change: transform;
    @include opacity(0);
    @include transform(translateZ(200px) rotate3d(-1, -1, 0, 60deg));
    @include transition(transform 1.5s 0.8s $easeIn, opacity 0.8s 0.8s $easeOutExpo);

}
.mobile-device{
    position:relative;
    width:32%;
    height:100%;
    margin:0 2vw;
    border:0.5vw solid #ebebeb;
    border-top:1.9vw solid #ebebeb;
    border-bottom:1.9vw solid #ebebeb;
    border-radius:1.9vw;
    @include box-shadow(0 10px 40px 0 rgba(0,0,0,0.5));
}


@include keyframes(deviceScroll) {


  0%   { 
    @include transform(translateY(0%));
  }
  50%   { 
    @include transform(translateY(calc(-50% + 11vw)));
  }
  100%   { 
    @include transform(translateY(calc(-100% + 22vw)));
  }
  
  
}

.link-page{
    position:relative;
    display:inline-block;
    font-weight:700;
    text-transform:uppercase;
    color:$red;
    font-size:15px;
    margin-top:40px;
    &:after{
            content:"";
            position:absolute;
            display:inline-block;
            top:50%;
            margin-top:-1px;
            right:-40px;
            width:30px;
            height:1px;
            background:$red;
        }
}


.home-about{
    position:relative;
    height:100vh;
    background:url('../img/25.png') no-repeat center;
    background-size:75%;
    overflow:hidden;
    .container{
        height:100%;
    }
    .col-1-2{
        position:relative;
        z-index:0;
        &:first-child{
            padding-right:60px;
        }
    }
    h3{
        position:relative;
        &:before{
            content:"";
            position:absolute;
            display:none;
            top:50%;
            margin-top:-1.5px;
            left:-110px;
            width:80px;
            height:2px;
            background:$blue;
        }
        strong{
            font-size:80px;
            line-height:80px;
        }
    }
    p{
        font-size:15px;
        line-height:25px;
        color:$secondary;
        margin-top:40px;
    }
    .car{
        display:block;
        width:100%;
        max-width:450px;
        @include opacity(0);
        @include transition(transform 3s $easeOutExpo, opacity 2s $easeOutExpo);
        &.car1{
            margin-bottom:-30%;
            @include transform(translateX(300px) translateY(-300px));
        }
        &.car2{
            @include transform(translateX(-300px) translateY(300px));
        }
        &.park{
            @include opacity(1);
            @include transform(translateX(0) translateY(0));  
        }
    }
}


@keyframes float {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-30px);
    }
    100% {
        transform: translatey(0);
    }
}


.home-project{
    padding:90px 0;
    max-width:1440px;
    .col-1-2{
        position:relative;
        height:90vh;
        max-height:600px;
        //width:45%;
        .home-project-bg{
            position:absolute;
            z-index:0;
            top:0;
            width:0;
            height:100%;
            overflow:hidden;
            background:#f6f6f6;
            background-size:cover;
            will-change:transform;
            @include transition(width 1s $easeOutExpo);
        }
        &.left{
            float:left;
            .home-project-bg{
                left:0;
            }
            .desktop-device{
                @include transform(translateY(80px));
                margin-right:-30%;
            }
            &.active{
                .home-project-bg{
                    width:100%;
                }
                .desktop-device{
                    @include opacity(1);
                    @include transform(translateY(0));
                }
            }

        }
        &.right{
            float:right;
            .home-project-bg{
                right:0;
            }
            .desktop-device{
                @include transform(translateY(80px));
                margin-left:-30%;
            }
            &.active{
                .home-project-bg{
                    width:100%;
                }
                .desktop-device{
                    @include opacity(1);
                    @include transform(translateY(0));
                }
            }
        }
    }
   

    .home-project-copy{
        max-width:350px;
        h3{
            position:relative;
            color:$primary;
            strong{
                font-size:80px;
                line-height:80px;
            }
        }
        p{
            font-size:15px;
            line-height:25px;
            color:$secondary;
            margin-top:20px;
        }

    }
    
}


.desktop-device{
    position:relative;
    z-index:2;
    will-change: transform;
    @include opacity(0);
    @include transition(all 1.6s 0.2s $easeOutExpo);
}
.head{
    position:relative;
    z-index:4;
    width:100%;
    padding:0 20px;
    height:20px;
    border-radius:6px 6px 0 0;
    background:white;
    border-bottom:1px solid rgba(0,0,0,0.15);
    span{
        display:inline-block;
        width:6px;
        height:6px;
        background:rgba(0,0,0,0.3);
        margin:0 3px;
        border-radius:6px;
    }
}
.screen{
    position:relative;
    z-index:2;
    width:620px;
    height:370px;
    background:$vanilla;
    //border:1px solid rgba(0,0,0,0.8);
    border-top:none;
    overflow:hidden;
    @include box-shadow(0 10px 40px 0 rgba(0,0,0,0.5));
    img{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:calc(100% + 1px);
        height:auto;
        @include transform(translateY(0%));
        &.animate{
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-name: deviceScroll;
            animation-name: deviceScroll;
            -webkit-animation-timing-function: cubic-bezier(1.000, 0.005, 0.305, 1.000);
            animation-timing-function: cubic-bezier(1.000, 0.005, 0.305, 1.000);
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
        }  
    }
}

@include keyframes(deviceScroll) {
  0%   { 
    @include transform(translateY(0%));
  }
  20%   { 
    @include transform(translateY(0%));
  }
  60%   { 
    @include transform(translateY(calc(-50% + 185px)));
  }
  100%   { 
    @include transform(translateY(calc(-100% + 370px)));
  }
}


/* ––––––––––––––––––––––––––––––––––– */

//HOME TEAM

/* ––––––––––––––––––––––––––––––––––– */
.home-team{
    width:100%;
    //padding:200px 0;
    overflow:hidden;
    text-align:center;
    font-size:11px;
    text-transform:uppercase;
    font-weight:600;
    background:$primary;
    colro:white;
    img{
        display:block;
        width:100%;
        height:auto;
        //margin-bottom:5px;
        @include opacity(0.6);
        filter:grayscale(100%);
    }
    .team-member{
        padding:0;
    }
}
.home-team-slider, .home-team-slider2, .home-team-slider3{
    //max-width:1600px;
    margin:0 auto;
}

.slick-dots{
    display:none;
}






/* ––––––––––––––––––––––––––––––––––– */
.perspective{
    perspective:800px;
}
.text-bend{
    -webkit-transform-style: preserve-3d;
    will-change: transform;
    @include opacity(0);
    @include transform(translateZ(200px) rotate3d(-1, -1, 0, 60deg));
    @include transition(transform 1.5s 0.5s $easeIn, opacity 0.8s 0.5s $easeOutExpo);
}
.bend{
    @include opacity(1);
    @include transform(translateZ(0) rotate3d(-1, -1, 0, 0deg));
}






